@charset 'utf-8';
@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital@0;1&family=IBM+Plex+Sans+Condensed:ital@0;1&family=IBM+Plex+Sans:ital,wght@0,100;0,400;0,700;1,100;1,400;1,700&family=IBM+Plex+Serif:ital@0;1&display=swap");

/*https://fonts.google.com/featured/Plex?selection.family=IBM+Plex+Mono:ital@0;1|IBM+Plex+Sans+Condensed:ital@0;1|IBM+Plex+Sans:ital,wght@0,100;0,400;0,700;1,100;1,400;1,700|IBM+Plex+Serif:ital@0;1*/

body::-webkit-scrollbar {
  width: 3px;
}
body {
  --scrollbarBG: #ffffff;
  --thumbBG: #343a40;
  margin: 0;
  padding: 0;

  position: relative;
  min-height: 100vh;

  scrollbar-width: thin;
  scrollbar-color: var(--thumbBG) var(--scrollbarBG);
}
body::-webkit-scrollbar-track {
  background: var(--scrollbarBG);
}
body::-webkit-scrollbar-thumb {
  background-color: var(--thumbBG);
  border-radius: 6px;
  border: 3px solid var(--scrollbarBG);
}
/*NAV*/

.navbar-inverse {
  background: #ffffff !important;
  border-bottom: 4px solid #222b31 !important;
  box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034),
    0 6.7px 5.3px rgba(0, 0, 0, 0.048), 0 12.5px 10px rgba(0, 0, 0, 0.06),
    0 22.3px 17.9px rgba(0, 0, 0, 0.072), 0 41.8px 33.4px rgba(0, 0, 0, 0.086),
    0 100px 80px rgba(0, 0, 0, 0.12);
}
.navbar-brand {
  text-transform: uppercase;
  color: #222b31 !important;
  letter-spacing: 2px;
  margin-top: 2px;
}
.navbar-dark .navbar-toggler {
  color: #222b31;
  border: none !important;
}

.nav {
  margin-bottom: 0px;
}
/* .nav-link {
  padding: 8px;
  letter-spacing: 2px;
  background: #ffffff;
  padding: 16px !important;
  color: #222b31 !important;
  text-transform: uppercase;
  position: relative;
  z-index: 1000;
} */

.nav li {
  position: relative;
}

.navbar-inverse .navbar-toggle {
  border: none;
}

.navbar-collapse {
  box-shadow: none !important;
  border: none !important;
}

.icon-bar {
  background: #a3bfc6 !important;
}
@media (max-width: 767px) {
  .nav {
    padding-bottom: 20px;
  }
  .nav .nav-link {
    padding: 12px !important;
  }
}
@media (max-width: 480px) {
  .nav {
    padding-bottom: 20px;
  }
}

/*NAV*//*HEADER*/
#head {
  min-height: 460px;
}
/**/
/*TYPED*/
.typed-cursor {
  display: none;
  font-size: 2rem;
}
/*PACE*/
.pace {
  -webkit-pointer-events: none;
  pointer-events: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

.pace-inactive {
  display: none;
}

.pace .pace-progress {
  background: #222b31;
  position: fixed;
  z-index: 2000;
  top: 0;
  right: 100%;
  width: 100%;
  height: 4px;
}

.pace .pace-progress-inner {
  display: block;
  position: absolute;
  right: 0px;
  width: 100px;
  height: 100%;
  box-shadow: 0 0 10px #3b3b3b, 0 0 5px #3b3b3b;
  opacity: 1;
  -webkit-transform: rotate(3deg) translate(0px, -4px);
  -moz-transform: rotate(3deg) translate(0px, -4px);
  -ms-transform: rotate(3deg) translate(0px, -4px);
  -o-transform: rotate(3deg) translate(0px, -4px);
  transform: rotate(3deg) translate(0px, -4px);
}

.pace .pace-activity {
  display: block;
  position: fixed;
  z-index: 2000;
  top: 15px;
  right: 15px;
  width: 14px;
  height: 14px;
  border: solid 2px transparent;
  border-top-color: #3b3b3b;
  border-left-color: #3b3b3b;
  border-radius: 10px;
  -webkit-animation: pace-spinner 400ms linear infinite;
  -moz-animation: pace-spinner 400ms linear infinite;
  -ms-animation: pace-spinner 400ms linear infinite;
  -o-animation: pace-spinner 400ms linear infinite;
  animation: pace-spinner 400ms linear infinite;
}

@-webkit-keyframes pace-spinner {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-moz-keyframes pace-spinner {
  0% {
    -moz-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -moz-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-o-keyframes pace-spinner {
  0% {
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-ms-keyframes pace-spinner {
  0% {
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -ms-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes pace-spinner {
  0% {
    transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

article {
  display: block;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  color: rgba(0, 0, 0, 0.8);
  font-weight: 400;

  font-family: "IBM Plex Sans ", sans-serif;

  /* font-family: "IBM Plex Serif", serif; */
  font-size: 21px;
  line-height: 32px;
  letter-spacing: -0.003em;
  padding-left: 24px;
  padding-right: 24px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1.56em;
  margin-bottom: -0.46em;
  overflow-wrap: break-word;

  word-break: break-word;
}

.dark-mode {
  background-color: black;
  color: white !important;
}
@media screen and (min-width: 900px) {
  article {
    width: 900px;
    box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034),
      0 6.7px 5.3px rgba(0, 0, 0, 0.048), 0 12.5px 10px rgba(0, 0, 0, 0.06),
      0 22.3px 17.9px rgba(0, 0, 0, 0.072), 0 41.8px 33.4px rgba(0, 0, 0, 0.086),
      0 100px 80px rgba(0, 0, 0, 0.12);
    min-height: 200px;
    background: white;
    border-radius: 5px;
  }
}
@media screen and (max-width: 900px) {
  article {
    max-width: 100vw;
  }
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "IBM Plex Sans", sans-serif;
  font-style: italic;
  font-weight: bold;
  padding-top: 8px;
  padding-bottom: 8px;
}
h2,
h3 {
}
h4,
h5,
h6 {
  text-decoration: wavy;
}
p {
}
a {
  text-decoration: none;
}
/* unvisited link */
a:link {
  color: #ff0000;
}

/* visited link */
a:visited {
  color: #00ff00;
}

/* mouse over link */
a:hover {
  color: #ff00ff;
}

/* selected link */
a:active {
  color: #0000ff;
}
ul {
}
ol {
}
li {
  padding: auto 1rem;
}
li:hover {
}
.list-group {
  box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034),
    0 6.7px 5.3px rgba(0, 0, 0, 0.048), 0 12.5px 10px rgba(0, 0, 0, 0.06),
    0 22.3px 17.9px rgba(0, 0, 0, 0.072), 0 41.8px 33.4px rgba(0, 0, 0, 0.086),
    0 100px 80px rgba(0, 0, 0, 0.12);
  background: white;
  border-radius: 5px;
  margin-top: 26px;
  margin-bottom: 26px;
}
.list-group-item:hover {
  background-color: #222b31;
  color: white;
}
.desc-list {
  box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034),
    0 6.7px 5.3px rgba(0, 0, 0, 0.048), 0 12.5px 10px rgba(0, 0, 0, 0.06),
    0 22.3px 17.9px rgba(0, 0, 0, 0.072), 0 41.8px 33.4px rgba(0, 0, 0, 0.086),
    0 100px 80px rgba(0, 0, 0, 0.12);
  background: white;
  border-radius: 5px;
}
img {
  box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034),
    0 6.7px 5.3px rgba(0, 0, 0, 0.048), 0 12.5px 10px rgba(0, 0, 0, 0.06),
    0 22.3px 17.9px rgba(0, 0, 0, 0.072), 0 41.8px 33.4px rgba(0, 0, 0, 0.086),
    0 100px 80px rgba(0, 0, 0, 0.12);
  background: white;
  border-radius: 5px;
  margin-top: 26px;
  margin-bottom: 26px;
}
video {
  box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034),
    0 6.7px 5.3px rgba(0, 0, 0, 0.048), 0 12.5px 10px rgba(0, 0, 0, 0.06),
    0 22.3px 17.9px rgba(0, 0, 0, 0.072), 0 41.8px 33.4px rgba(0, 0, 0, 0.086),
    0 100px 80px rgba(0, 0, 0, 0.12);
  min-height: 200px;
  background: white;
  border-radius: 5px;
  margin-top: 26px;
  margin-bottom: 26px;
}
.embed-responsive {
  box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034),
    0 6.7px 5.3px rgba(0, 0, 0, 0.048), 0 12.5px 10px rgba(0, 0, 0, 0.06),
    0 22.3px 17.9px rgba(0, 0, 0, 0.072), 0 41.8px 33.4px rgba(0, 0, 0, 0.086),
    0 100px 80px rgba(0, 0, 0, 0.12);
  min-height: 300px;
  background: white;
  border-radius: 5px;
  margin-top: 26px;
  margin-bottom: 26px;
}
@media screen and (max-width: 500px) {
  .embed-responsive {
    width: 100%;
  }
}
/*LISTS*/

/**DEFINITIONS**/
.definitions {
  margin-top: 26px;
  margin-bottom: 26px;
  padding: 20px 30px 20px 30px;
  color: black;
  box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034),
    0 6.7px 5.3px rgba(0, 0, 0, 0.048), 0 12.5px 10px rgba(0, 0, 0, 0.06),
    0 22.3px 17.9px rgba(0, 0, 0, 0.072), 0 41.8px 33.4px rgba(0, 0, 0, 0.086),
    0 100px 80px rgba(0, 0, 0, 0.12);
  min-height: 200px;
  background: white;
  border-radius: 5px;
  font-family: "IBM Plex Mono", monospace;
}
.definitions a {
  color: #343a40;
  text-decoration: none;
}
.definitions .list-group-item.active {
  background: #343a40;
  border-color: white;
}
/**DEFINITIONS**/

/*BLOCKQUOTE*/
blockquote {
  background: white;
  padding: 20px 30px 20px 30px;
  margin: 50px auto;
  width: 60%;
  max-width: 500px;
  border: solid 2px;
  box-shadow: 15px 15px 0 0 #000000;
}
@media screen and (max-width: 700px) {
  blockquote {
    width: 90%;
  }
}
/*BLOCKQUOTE*/
/*PRE*/
pre {
  background: rgba(0, 0, 0, 0.05) none repeat scroll 0% 0%;
  padding: 20px;
  margin-top: 26px;
  margin-bottom: 26px;
  font-family: "IBM Plex Mono", monospace;
}
/*PRE*/@media screen and (min-width: 700px) {
  .main-video {
    height: 100vh;
    min-height: 300px;
  }
}
